.ff-verdana {
  font-family: Verdana, sans-serif;
}

.hover-blue:hover {  
  color: #6500ff;
}

.brown-orange .brown-orange:visited, .brown-orange:link, .brown-orange:active {
  color: #955656;
}

.transition-color {
  transition: color 500ms ease-out;
}

.bright-pink {
  color: #ff00bb;
}

.highlight:hover {  
  color: #000;
  background-color: #FFFF00;
}

.left-50 {
  left: 50%;
}

.top-50 {
  top: 50%;
}

.transform-center {
  transform: translateX(-50%) translateY(-50%);
}